.panui-virtual-selector-dropdown {
  width: auto !important;
}
.panui-virtual-selector-dropdownPanel {
  height: 100%;
  padding: 0 10px;
}
.panui-virtual-selector-searchPanel {
  .panui-virtual-selector-searchPanel-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 500;
  }
  .panui-virtual-selector-searchPanel-content {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .panui-virtual-selector-searchPanel-footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
